* {
  margin: 0;
  padding: 0;
}

          //*MENU
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background : #6D458F;
  height: 60px;
}

.menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    a{
      text-decoration: none;
      font-size: 30px;
      color: rgb(253, 249, 249);
      display: inline-block;
      line-height: normal;
      transition: all 500ms ease;
      border-bottom: 4px solid transparent;

      &:hover{
        color: white;
        border-bottom: 4px solid white;
      }
    }
  }


.sub-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCFFCB;
    height: 64px;
}

.sub-menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a{
      text-decoration: none;
      font-size: 25px;
      color:  rgb(10, 10, 10);
      display: inline-block;
      line-height: normal;
      transition: all 500ms ease;
      border-bottom: 4px solid transparent;
  
      &:hover{
        color:#233C71;
        border-bottom: 4px solid #233C71;
      }
    }
}

          //*Inicio de slider hearder
.slider {
  width: 100%;
  overflow: hidden; 
  height: 450px;

    .main-header {
    height: 100px; 
      width: 100%;
     position: absolute;
      align-items: center;
  
        &:after{
          content: '';
          position: center;
          width: 100%;
          height: 450px;
          background-color:black;
        }
        &::before{
          content: '';
        }
        
      .main-page-title{
        position: absolute;
        display: flex;
        color :  royalblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        z-index: 1;
        font-size: 150px;
        text-align: center;
        -webkit-text-stroke: 2px black;
      }
    }

    ul{
      display: flex;
      padding: 0;
      width: 400%;
      animation: cambio 20s infinite alternate linear;
    }
      li {
        width: 100%;
        list-style: none;
       }

        img{
          width: 100%;
          object-fit: cover;
          max-height: 450px;
          min-height: 450px;
      } 

      
  @keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left:  -300%;}
    100% {margin-left: -300%;}
  
  }
          //*fin del slider 
}
 //*Fin slider hearder

          //*Inicio main (Informacion y imagenes)
main{
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  background-color:#E6F9A0;
  height: 400px;

  .container-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .text-container-1{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
        p{
          text-align: justify;
          width: 85%;
          font-size: 20px;
          padding-bottom: 20px;
        }
    }
    .container-1-img2 {
      img{
        height: 325px;
        // max-width: 250px;
        // max-height: 280%;
        display: block;
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        border-radius: 10px;
        &:hover {
          transform: rotate(3deg) scale(1.15) translatey(-20px);
        }
      }
    }
  }
}
          //*Fin main

          //*ACCORDION
.main-accordion-container {
  .accordion-item {
    background: #FFB171;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex-direction: column;
    padding: 0 10px 0 10px;

      .accordion-desc {
      display: none;
      background: #DBBABD;
      padding: 25px;
      margin-top: 15px;
      color: rgb(19, 17, 17);
      }
      .accordion-title {
        color: rgb(250, 250, 250);
        font-family: Arial;
        font-size: 20px;
        display: flex;
        justify-content: center;
        padding: 20px;
      }
    &.tab-active{ 
      background: #FF876C;
      .accordion-title {
       color: rgb(0, 0, 0); 
      }  
      .accordion-desc {
      width: 97%;
      height: auto;
      display: flex;
      justify-content: center;
      }
    }
  }
}
          //*Fin del Accordion

          //*Inicio card
.card-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

   .card-item {
     width: 32%;
     height: 445px;
     border-radius: 5px;
     padding-bottom: 10px;
     box-shadow: 6px 6px 20px  -0px rgb(0, 0, 0);
     margin-bottom: 30px;
     display: flex;
     overflow: hidden;
     flex-direction: column;
     background: #FFFFFF;

     &:hover {
       transform: scale(1.05);
       background-color: rgb(62,62,62);
       color: white;
       box-shadow: 6px 6px 20px  -0px rgb(255, 254, 254);
     }

    img{
    object-fit: cover;
     width: 100%;
     margin-bottom: 10px;
     max-height: 204px;
     min-height: 240px;
     display: flex;
    }
    
    .card-title {
      font-size: 25px;
      font-weight: bold;
      font-family: 'Helvetica';
      margin-bottom: 10px;
    }

    .card-info {
      padding: 0 14px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-end;
    }

    .card-desc{
      font-family: 'Helvetica';
      font-size: 17px;
    }

    .card-cta{
      text-decoration: none;
      color: white;
      display: block;
      text-align: center;
      font-family: 'Helvetica';
      font-size: 17px;
      border: solid 1px white;
      background-color: black;
      margin: 20px 110px;
      padding: 15px 10px;
    }
  }
}
          //*Fin de card

          //*Inicio footer
.footer-container {
  display:  flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  height: 120px;
  width: auto;

  .footer-list {
    width: auto;;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    display:  flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
  }
  .footer-info {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
      p {
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 18px;
      }
  }
}
        ///*final de footer


      // !MODO RESPONSIVE


@media(max-width: 991px){
 
  ///*Clase menu 
  .menu-container{
    display: flex;
    padding: 0 15px;
    justify-content:flex-end;
    align-items: center;
    position: relative;

    .menu-list {
      display: none;
    }

    .hamburger-icon {
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

        span {
          height: 4px;
          width: 100%;
          background: white;
          display: block;
          border-radius: 10px;
        }
    }
  } 

   //*Click al Hamburger Icon menu
  .menu-container.menu-open {
    .menu-list {
      z-index: 100; // siempre va hacer  cero 
      border: 2px solid black;
      width: 200px;
      padding-top: 115px;
      height: auto;
      display: flex;
      flex-direction:  column;
      justify-content: space-between;
      align-content: left;
      text-align: center;
      background:  white;
      border-radius: 5px;
        a {
          color: black;
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }
  }
  //*Fin  menu y Hamburger Icon

  //*clase sub-menu
  .sub-menu-container {
    display: flex;
    padding:  0 15px ;
    justify-content:flex-start;
    align-items: center;
    position: relative;

    .sub-menu-list {
      display: none;
    }
  }  
      .sub-hamburger-icon {
        width: 35px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      
          sub-span {
            height: 5px;
            width: 100%;
            background: rgb(0,0,0);
            display: block;
           border-radius: 10px;
         }
      } 
    
  //*Click al Hamburger Icon sub menu  
  .sub-menu-container.sub-menu-open {
    align-items: baseline;
    padding-right: 30px;
      .sub-menu-list {
        //siempre va hacer cero
        z-index: 100;  
        border: 2px solid black;
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: right;
        text-align: center;
        background-color:#233C71;
        border-radius: 5px;
          a {
            color: white;
            padding-top: 5px;
            padding-bottom: 5px;
          } 
      }
  }
  //*Fin sub menu  Hamburger Icon

    //*Inicio card
  .card-list{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    
    .card-item {
      width: 42%;
      height: auto;
      border-radius: 5px;
      border: 2px;
      padding-bottom: 10px;
      box-shadow: 6px 6px 14px -1px rgb(0, 0, 0);
      margin-bottom: 30px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #FFFFFF;

      &:hover {
        transform: scale(1.05);
        background-color: rgb(62,62,62);
       color: white;
       box-shadow: 6px 6px 20px  -0px rgb(255, 254, 254);
     }
      }

      img {
        object-fit: cover;
        width: 100%;
        margin-bottom: 10px;
        max-height: 200px;
        min-height: 200px;
        display: flex;
      }
  
      .card-title {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }

      .card-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: flex-start;
      }

      .card-desc{
        font-family: 'Helvetica';
        font-size: 17px;
      }

      .card-cta{
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'Helvetica';
        font-size: 50px;
        border-top: solid 1px black;
        padding: 20px 50px;
        margin: 20px 110px;
      }
    }
//*Fin de card

//Inicio main
//Inicio main
main{
  display: flex;
  border: 3px solid black;
  background-color: rgb(243,194,134);
  height: 400px;

  .container-1{
    width: 100%;
    display: flex;
    align-items: center;

    .text-container-1{  
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
      text-align: justify;
      width: 85%;
      padding-bottom: 20px;
      }
    }
    .container-1-img{
      img{
        object-fit: cover;
        max-width: 250px;
     }
    }
  }
}
//Fin main
} 

@media (max-width: 701px) {

           //*Inicio de slider header
  .slider {
    .main-header{
      .main-page-title{
        color :  rgb(32, 183, 197);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        z-index: 1;
        font-size: 120px;
        text-align: center;
        -webkit-text-stroke: 2px black;
      }
    }
  }
 //*Fin slider header

//*Inicio main
main{
  background-color: rgb(243,194,134);
  border: 1px solid white;
  height: 450px;  
   .container-1{
    width: 100%;
    display: block;
    align-items: center;
  
    .text-container-1{
      flex-direction: column;
      align-items: flex-end;


        h2{
          text-align: justify;
          font-size: 25px;
          
        }
        p{
        
          width: 90%;
          text-align: justify;
          padding-bottom: 255px;
          padding-right: 10%;
          padding-left: 10%;
        }
    }
    .container-1-img2{
      img{
        align-items: flex-start;
        height: 225px;
        width: 50%;
      }
    }
  }
}
//*Fin main

  //*Inicio card 
  .card-list {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   flex-wrap: wrap;

    .card-item {
     width: 47%;
     height: 350px;
     border-radius: 5px;
     padding-bottom: 10px;
     box-shadow: 6px 6px 16px -1px rgb(8, 8, 8);
     margin-bottom: 30px;
     display: flex;
     overflow: hidden;
     flex-direction: column;

    &:hover {
     transform: scale(1.05);
    }

    img{
      object-fit: cover;
      width: 100%;
      margin-bottom: 10px;
      max-height: 200px;
      min-height: 200px;
      display: flex;
    }
  
    .card-title {
      font-size: 16px;
      font-weight: bold;
      font-family: 'Helvetica';
      margin-bottom: 10px;
    }

    .card-info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-start;
    }

    .card-desc{
      font-family: 'Helvetica';
      font-size: 12px;
    }

    .card-cta{
      text-decoration: none;
      display: block;
      text-align: center;
      font-family: 'Helvetica';
      font-size: 12px;
      border-top: solid 1px black;
      background-color: black;
      margin: 20px 100px;
      padding: 14px 10px;
    }
  }
}
//*Fin de card
}

@media (max-width: 501px){ //*499

  //*Inicio slider header
  .slider {

    .main-header{
     
     .main-page-title{
        color : rgb(246, 141, 141);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
        font-size: 85px;  
      }
    }
  }
  //*Fin de slider header

  //Inicio main
  main{
    background-color: rgb(243,194,134);
    .text-container-1{
       h3{
         font-size: 24px;
         align-items: center;
         align-content: center;
       }
       p{
         font-size: 16px;
         padding-left: 5%;
        
       }
       .container-1-img2{
         vertical-align: text-top;
         align-items: center;
       }
    }
   }
   //Final main
  
  //*Inicio accordion
  .main-accordion-container{
    .accordion-item{
      background: #FFB171;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      flex-direction: column;
      padding: 0 10px 0 10px;
  
        .accordion-desc {
        display: none;
        background: #DBBABD;
        padding: 25px;
        margin-top: 15px;
        width: 90%;
        }
        .accordion-title {
          color: rgb(255, 255, 255);
          font-family: Arial;
          font-size: 18px;
          display: flex;
          justify-content: center;
          padding: 20px;
          text-decoration-color: blanchedalmond;
        }
      &.tab-active{ 
        background: #FF876C;
        .accordion-desc {
          height: auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  //*Fin del Accordion

  //*Inicio card
  .card-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;

    .card-item {
      width: 70%;
      height: 335px;
      border-radius: 5px;
      padding-bottom: 10px;
      box-shadow: 6px 6px 16px -1px rgb(0, 0, 0);
      margin-bottom: 30px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #FFFFFF;

      &:hover {
       transform: scale(1.05);
      }

      img{
        object-fit: cover;
        width: 100%;
        margin-bottom: 10px;
        max-height: 170px;
        min-height: 170px;
        display: flex;
      }
    
      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }

      .card-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: flex-start;
      }

      .card-desc{
        font-family: 'Helvetica';
        font-size: 14px;
      }

      .card-cta{
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'Helvetica';
        font-size: 12px;
        border-top: solid 1px black;
        padding: 13px 15px;
        margin: 15px 110px;
      }
    }
  }
  //*Fin de card
}